@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  color: white;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.fa-spin {
  animation: spinner 2s linear infinite;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  /* background-color: rgb(25, 27, 63); */
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(60, 60, 60, 1);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(60, 60, 60, 1);
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;

  -webkit-touch-callout: none;
}
